Repository haru52/convertflac: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-text, yamllint --strict, shellcheck, actionlint, pipenv run lint

chore: update main.py
  src/convertflac/main.py
Due: secretlint, prettier --check, pipenv run lint

chore: udpate files
  .github/vale_styles/Vocab/Base/accept.txt
  README.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/SECURITY.md
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

build(npm): upgrade dependencies
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore: update package.json
  package.json
Due: secretlint, prettier --check

feat: release initial version
  package.json
Due: secretlint, prettier --check

chore(release): 1.0.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  0b6354f4a79972fa0b39f97709fbad0b16974bd5
Due: secretlint, prettier --check

docs: add `cli` to keywords
  package.json
Due: secretlint, prettier --check

fix: fix the bug
  src/convertflac/main.py
Due: secretlint, prettier --check, pipenv run lint

docs: add CodeQL badge
  README.md
Due: secretlint, prettier --check, markdownlint, make lint-text

docs: install jscpd and update docs
  .jscpd.json
  .markdownlintignore
  .releaserc.yml
  README.md
  package-lock.json
  package.json
  report/jscpd-badge.svg
  report/jscpd-report.md
Due: secretlint, prettier --check, markdownlint, make lint-text, yamllint --strict

chore(release): 1.0.1 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  1c8c1ea61a8aa671206d7fe480fdf027a845da23
Due: secretlint, prettier --check

docs: update Contributing Guideline
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, make lint-text

fix(docs): update README.md
  README.md
Due: secretlint, prettier --check, markdownlint, make lint-text

chore(release): 1.0.2 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  7c73627df99d9b263e4b8240d22605938a5d71f2
Due: secretlint, prettier --check

fix(chore): change the order of options in help message
  README.md
  src/convertflac/main.py
Due: secretlint, prettier --check, markdownlint, make lint-text, pipenv run lint

chore(release): 1.0.3 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  333e37dfce91354b3f2eec0bf1e5ba5432d15bd1
Due: secretlint, prettier --check

refactor: delete the unused constant
  src/convertflac/main.py
Due: secretlint, prettier --check, pipenv run lint

chore(release): 1.0.4 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
  report/jscpd-report.md
Due: secretlint, prettier --check, markdownlint, make lint-text

Notes added by 'git notes add'
  43933eadb307fe4dec2ddd31d14d121615278871
Due: secretlint, prettier --check

Path conditions:
  secretlint: any of: *
  prettier --check: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  yamllint --strict: any of: *.{yml,yaml}
  shellcheck: (any of: *.sh) or (any of: .husky/*)
  actionlint: any of: .github/workflows/*.{yml,yaml}
  pipenv run lint: any of: *.py
